.wrapper
  .main
    .main__header
      .main__header__group
        .main__header__group__title
          = @group.name
        .main__header__group__member
          MEMBER:
          - @group.group_users.each do |group_user|
            = group_user.user.name
        .main__header__group__button
          Edit


    .main__messages
      = render partial: 'message', collection: @messages


    .main__footer
      .main__footer__form
        = form_for [@group, @message] do |f|
          .main__footer__form__textarea
            = f.text_field :content, class: 'main__footer__form__textarea__chatbox', placeholder: 'type a message'
            = f.label :image, class: 'main__footer__form__textarea__image' do
              = fa_icon 'picture-o', class: 'main__footer__form__textarea__icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'main__footer__form__button'

  = render partial: './shared/side_bar'
